.chalu {
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    padding-top:20px ;
    width: 200px;
    margin-left: 200px;

}


.dhoni {
    padding-top: 70px;
    width: 260px;
}

body {
    background-image: image-set(download.jpg);
}